header{
    justify-content: center;
}
header .imagen-container img{
    width: 4rem;
    height: 4rem;
}
#hero .container  .informacion-personal{
    top: 6rem;
    flex-direction: column;
    padding: 4rem 0;
}#hero .informacion-personal #perfil{
    display: contents;
    width: 60rem;
    height: 40rem;
}
#hero .informacion-personal #perfil img{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    height: 25rem;
}
#hero .informacion-personal .informacion{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: calc(100% - 15rem);
}
#hero .informacion-personal .informacion span{
    display: inline-block;
    font-size: 3rem;
    margin-bottom: 1rem;
}
main {

    align-items: center;
    padding: 5rem;
    font-size: 2.5rem ;
}


/* Estilos de los iconos sociales */
footer .iconos-sociales{
    display:flex;
    justify-content: center;
    margin-top:2rem;
    list-style: none;
    margin-bottom: 4rem;
    background-color: var(--soft-yellow);
}

footer .iconos-sociales .social-icono{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-left:0.5rem;
}



